<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>
    <!-- head -->
    <% include include/head %>
    <!-- load custom carousel stylesheet -->
    <link rel="stylesheet" href="/css/carousel.css">
</head>


<body class="home">

    <!-- navbar header -->
    <% include include/nav %>

    <!-- flash messages -->
    <% include include/flash %>

    <!-- carousel -->
    <% include include/carousel %>
    <div>

        <div class="container">

            <div class="row margin-top-2">
                <h2>Featured Items</h2>
            </div>

            <div class="row featured">

                <% locals._.each(items, function (item){ %>
                    <a class="col-md-3" href="/menu/<%= item.id %>">
                        <div class="featured-thumbnail">
                            <img src="<%= item.imageUri %>" class="img-circle img-thumbnail">
                            <h2><%= item.title %> | $<%= item.basePrice.toFixed(2) %></h2>
                            <hr/>
                            <p><%= item.shortDesc %></p>
                        </div>
                    </a>
                <%}) %>

            </div>

        </div>

    </div>

    <!-- javascript -->
    <% include include/scripts %>

</body>
</html>
