<!doctype html>
<html>

<head>
    <!-- head -->
    <% include include/head %>
</head>

<body>

<!-- navbar header -->
<% include include/nav %>

<div id="login-overlay" class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <a href="/order" class="close">
                <span class="fa fa-times text-primary" aria-hidden="true"></span>
                <span class="sr-only">Close</span>
            </a>
            <h4 class="modal-title"><span class="fa fa-cutlery"></span> Manage Order Items</h4>
        </div>
        <div class="modal-body">

            <div class="container-fluid">
                <div class="row well">
                    <div class="col-xs-12">

                        <div class="col-md-4">
                            <% if (item.imgUri != '') { %>
                            <img
                                src="<%= item.imageUri %>"
                                class="img-circle img-thumbnail img-responsive center-block"/>
                            <% } %>
                        </div>
                        <div class="col-md-8">
                            <h3><%= item.title %></h3>
                            <h5>Price: $<span id="itemPrice"><%= item.totalPrice %></span></h5>
                            <hr/>
                            <h4>Description</h4>

                            <p class="hidden-xs">
                                <%= item.longDesc %>
                            </p>

                            <p class="visible-xs">
                                <%= item.shortDesc %>
                            </p>

                            <% if (item.selectedDeal.title && item.selectedDeal.description) { %>
                            <div class="alert alert-info deal-info">
                                <strong><%= item.selectedDeal.title %></strong> <%= item.selectedDeal.description %>
                            </div>
                            <% } %>
                        </div>
                        <div class="col-xs-12">
                            <% include include/form/order-item %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<% include include/scripts %>

<script type="text/javascript">

    $(document).ready(function () {

        var itemStore = {
                "id": "<%= item.id %>",
                "salePrice": <%= item.salePrice %>,
                "totalPrice": <%= item.totalPrice %>,
                <% locals._.each(['itemExtras', 'selectedItemExtras', 'itemOptions', 'selectedItemOptions'], function (collectionName) { %>
                "<%= collectionName %>": [
                    <% locals._.each(item[collectionName], function (side) { %>
                    {
                        "id": "<%= side.id %>",
                        "name": "<%= side.name %>",
                        "groupName": "<%= side.groupName %>",
                        "price": <%= side.price %>
                    },
                    <% }) %>
                ],
                <% }) %>
            }
        //Event names
            , EXTRA_PRICE_UPDATED = "item.extra.price.updated"
            , OPTION_PRICE_UPDATED = "item.option.price.updated"
            , ITEM_PRICE_UPDATED = "item.total.price.updated"
            , initialize = function () {
                store.clear();
                store.set('item', itemStore);
            };

        initialize();
        //Item update event handlers
        $(document)
            .on(OPTION_PRICE_UPDATED, function (e, updatedElementId, isSelected) {
                var option, options, item;
                if (store.enabled) {
                    item = store.get('item') || itemStore;
                    //first get the selected item
                    option = _.findWhere(item.itemOptions, {id: updatedElementId});
                    //remove any selectedItemOptions with the same group name
                    options = _.reject(item.selectedItemOptions, function (o) {
                        return o.groupName == option.groupName;
                    });
                    //add the selected one
                    options.push(option);
                    item.selectedItemOptions = options;
                    store.set('item', item);
                    $(document).trigger(ITEM_PRICE_UPDATED, [item.selectedItemOptions, item.selectedItemExtras]);
                }
            })
            .on(EXTRA_PRICE_UPDATED, function (e, updatedElementId, isSelected) {
                var extra, extras, item;
                if (store.enabled) {
                    item = store.get('item') || itemStore;
                    if (isSelected) {//get selected extra and put it in selectedExtras
                        extra = _.findWhere(item.itemExtras, {id: updatedElementId});
                        if (extra) {
                            item.selectedItemExtras.push(extra);
                        }
                    } else {//remove selected extra from selectedExtras
                        extras = _.reject(item.selectedItemExtras, function (extra) {
                            return extra.id == updatedElementId;
                        });
                        item.selectedItemExtras = extras;
                    }
                    store.set('item', item);
                    $(document).trigger(ITEM_PRICE_UPDATED, [item.selectedItemOptions, item.selectedItemExtras])
                }
            })
            .on(ITEM_PRICE_UPDATED, function (e, options, extras) {
                var item = store.get('item') || itemStore
                    , sides = options.concat(extras)
                    , totalPrice = parseFloat(_.reduce(sides, function (itemPrice, side) {
                        return itemPrice + side.price;
                    }, item.salePrice));
                $('#itemPrice').text(totalPrice.toFixed(2));
            });

        //configure multiselect plugins
        $('.item-option').multiselect({
            buttonClass: 'btn btn-block',
            onChange: function (option, checked) {
                $(document).trigger(OPTION_PRICE_UPDATED, [$(option).attr('id'), checked]);
            }
        });
        $('.item-extra').multiselect({
            buttonClass: 'btn btn-block',
            numberDisplayed: 1,
            onChange: function (option, checked) {
                $(document).trigger(EXTRA_PRICE_UPDATED, [$(option).attr('id'), checked]);
            }
        });
        $('#itemFor').multiselect({
            buttonClass: 'btn btn-block',
            buttonContainer: '<div class="btn-group dropup" />'
        });
    });
</script>

</body>
</html>
