<!-- show any messages that come back with authentication -->
<% var showSuccess = (locals.flashMessages && locals.flashMessages.successMessage && locals.flashMessages.successMessage.length > 0) %>
<% var showInfo = (locals.flashMessages && locals.flashMessages.infoMessage && locals.flashMessages.infoMessage.length > 0) %>
<% var showWarning = (locals.flashMessages && locals.flashMessages.warningMessage && locals.flashMessages.warningMessage.length > 0) %>
<% var showDanger = (locals.flashMessages && locals.flashMessages.dangerMessage && locals.flashMessages.dangerMessage.length > 0) %>

<div class="alert alert-success <%= (!showSuccess) ? "hidden" : "" %>">
    <%- locals.flashMessages.successMessage %>
</div>
<div class="alert alert-info <%= (!showInfo) ? "hidden" : "" %>">
    <%- locals.flashMessages.infoMessage %>
</div>
<div class="alert alert-warning <%= (!showWarning) ? "hidden" : "" %>">
    <%- locals.flashMessages.warningMessage %>
</div>
<div class="alert alert-danger <%= (!showDanger) ? "hidden" : "" %>">
    <%- locals.flashMessages.dangerMessage %>
</div>
